@page
@model FCS_WebSite_v2.Areas.Identity.Pages.Account.Profile.CreateFormModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/createForm.css" />
</head>
<body>
    <button class="button" data-toggle="modal" data-target="#chooseType">
        +
    </button>

    <div class="answerList" id="ansList">

    </div>

    <div class="modal fade" id="chooseType">
        <div class="modal-dialog">
            <div class="modal-content">
                <button onclick="addShortAnswer()" data-dismiss="modal">Короткий ответ</button>
                <button onclick="addLongAnswer()" data-dismiss="modal">Длинный ответ</button>
                <button onclick="addCheckbox()" data-dismiss="modal">Чекбокс</button>
            </div>
        </div>
    </div>

    <script>
        function addShortAnswer() {
            let parent = document.getElementById("ansList");
            let shortAnswer = document.createElement("input");
            shortAnswer.className = "shortAnswer";
            parent.appendChild(shortAnswer);
        }

        function addLongAnswer() {
            let parent = document.getElementById("ansList");
            let longAnswer = document.createElement("textarea");
            longAnswer.className = "longAnswer";
            parent.appendChild(longAnswer);
        }

        function addCheckbox() {
            let parent = document.getElementById("ansList");
            let checkbox = document.createElement("input");
            checkbox.className = "checkbox";
            checkbox.type = "checkbox";
            checkbox.name = "check"
            parent.appendChild(checkbox);
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

