@{
    ViewData["Title"] = "Pupil";
}

<head>
    <link rel="stylesheet" href="~/css/pupil.css"/>
</head>
<body>
    @using (Html.BeginForm("RegistrationPupil", "Registration", FormMethod.Post))
    {
        <div>
        <input class="inputData" type="email" id="email" name="email"
            placeholder="Почта"/>
        <input class="inputData" type="password" id="password" name="password"
            placeholder="Пароль"/>
        <input class="inputData" type="password" id="passwordConfirm" name="passwordConfirm"
            placeholder="Подтвердите пароль"/>
        <button class="inputData">
            Зарегистрироваться
        </button>
    </div>
    }
</body>