@page
@model FCS_WebSite_v2.Areas.Identity.Pages.Account.ProfileModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-area="Identity" asp-page="/Identity/Account/Profile/MyForms">Мои формы</a>
<a asp-area="Identity" asp-page="/Identity/Account/Profile/CreateForm">Создать форму</a>