body {
}

.inputData {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.form {
    margin-top: 100px;
}

.form-register {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.row {
    margin-top: auto;
    margin-bottom: auto;
}

.heading {
    text-align: center;
}
