body {
}

.button {
    margin: auto;
    background-color: #FFCC00;
    text-align: center;
    padding: 10px 40px;
    border-radius: 4px;
    border-width: 0px;
    display: block;
}

.block_of_buttons {
    margin: auto;
    height: 200px;
    width: 100px;
}

#first {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#second {
    margin: auto;
}
