@{
    ViewData["Title"] = "Pupil";
}
<head>
    <link rel="stylesheet" href="~/css/pupil.css"/>
</head>
<body>
    @using (Html.BeginForm("RegistrationPupil", "Registration", FormMethod.Post))
    {
    <div class="form">
        <input class="inputData" type="text" id="firstName" name="firstName"
            placeholder="Имя" maxlength="16"/>
        <input class="inputData" type="text" id="lastName" name="lastName"
            placeholder="Фамилия" maxlength="16"/>
        <input class="inputData" type="email" id="email" name="email"
            placeholder="Почта" maxlength="16"/>
        <input class="inputData" type="password" id="password" name="password"
            placeholder="Пароль" maxlength="16"/>
        <input class="inputData" type="password" id="passwordConfirm" name="passwordConfirm"
            placeholder="Подтвердите пароль" maxlength="16"
            style="margin-bottom: 20px;"/>
        
        <button class="inputData">
            Зарегистрироваться
        </button>
    </div>
    }
</body>